.bg-main{
    background-color: aqua;
    height: 500%;
    width: 500%;
    /* height: 100px;
    width: 100px; */
    white-space: no wrap;
    overflow:  hidden;
    text-overflow: ellipsis;

}
.gradient
{
    padding: 70px;
    height: 200px;
    background-image: linear-gradient(to right, pink, grey);
   
    opacity: 0.4;
} 

.icon{
    width: 50px;
    height: 50px;
    position: fixed;
    bottom: 1px;
    right: 0;
}

.card{
    box-sizing: border-box;
    background: #000;
    padding: 70px;
    height: 200px;
}