* {
  box-sizing: border-box;
}
body {
  margin: 0;
}

.nav-bar > .list {
  background-color: aqua;

  margin: 0;
}
.list {
  padding-left: 0;
  margin: 0;
}

.list > li {
  display: inline-block;
  list-style: none;
  /* margin-right: 10px;
  margin-left: 10px; */
  padding: 16px;
  position: relative;
  cursor: pointer;
}
.search-box > button {
  cursor: pointer;
}
.sub-list {
  padding-left: 0;
  list-style: none;
  display: none;
  position: absolute;
  top: 50px;
  border: 2px, solid, grey;
  width: max-content;
}
.list > li:hover > .sub-list {
  display: block;
}
.list > li:nth-child(3n) {
  background-color: brown;
}

p::first-line {
  color: darkblue;
  font-size: larger;
}
