h1 {
  color: blueviolet;
}

.colors {
  padding: 20px;
  background-color: black;
}

@media screen and (min-width: 300px) {
  .colors {
    background-color: yellowgreen;
  }
}
@media screen and (min-width: 500px) {
  .colors {
    background-color: red;
  }
}
@media screen and (min-width: 700px) {
  .colors {
    background-color: blue;
  }
}

.container {
    display: flex;
}



.one{
   
    background-color: black;
    color: white;
    margin: 5px;
    height: 100px;
   flex-basis: 20%;
} 
@media screen and (max-width:400px){
    .one{
        flex-basis: 100%
    }
    
}

.two{
    
    background-color: red;
    color: white;
    margin: 5px;
    height: 100px;
    flex-basis: 20%;
}
@media screen and (max-width:700px){
    .one{
        flex-basis: 40%;
    }
    
}

.three{
   
    background-color: green;
    color: white;
    margin: 5px;
    height: 100px;
    flex-basis: 20%;
}
